{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
  },
  "extends": [
    "plugin:vue/essential",
    "eslint-config-airbnb-base"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
    "import/no-unresolved": "off",
    "import/extensions": "off",
    "import/no-extranous-dependencies": 0
  },
  "overrides": [
    {
      "files": [
        "src/**/*.vue",
        "src/**/*.js",
        "src/**/*.jsx"
      ],
      "rules": {
      }
    }
  ]
}
