{
  "root": true,
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "settings": {
  },
  "extends": [
    "plugin:vue/essential",
    "eslint:recommended",
    "prettier"
  ],
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "rules": {
  }
}
